.board-space-unit-title, .board-space-unit-title-placeholder {
    height: 33%;
    width: 100%;
}

.board-space-unit-title {
    background: #333;
    color: #fff;
}

.board-space-unit-title-inner {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.board-space-attribute-featured {
    flex-grow: 1;
    width: 100%;
}

.unit-details-title-wrapper {
    display: flex;
    border-bottom: 1px solid;
}

.unit-details-take-action {
    padding-top: 10px;
    padding-bottom: 5px;
}

.unit-details-title-type {
    font-size: 0.8em;
    display: flex;
    align-items: end;
    margin-left: 10px;
}

.board-space-unit {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.board-space-unit-badge {
    padding: 0px 0.2em;
    font-size: 0.8em;
}

.board-space-unit-badges {
    display: flex;
    height: 1em;
}

.board-space-unit-badges .separator {
    flex-grow: 1;
}

.unit-tile-animated-stat-popups {
    position: absolute;
    left: -50%;
    bottom: var(--tank-game-cell-size);
    width: 200%;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.unit-tile-animated-stat-popup {
    background: red;
    color: white;
    border-radius: 8px;
    padding: 2px 5px;
    margin: 2px 0px;
}
